/* Universal Tags */

div.row > div, header, nav, main {
        outline: 0px solid gray;
        
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

body {
        background-color: white
    }

h1 {
        font-family: 'Fredericka the Great';
        text-align: left;
        padding-top: 40px;
        font-size: 48px;
        /* font-variant: small-caps; */
    }

h2 {
        font-family: 'Passion One';
        margin-top: 15px;
        margin-bottom: 15px;
        /* text-indent: 15px; */
    }

h3 {
        font-size: 24px;
        padding-top: 5px;
        padding-bottom: 0px;
        height: 40px;
    }

h4 {
        font-size: 18px;
        text-align: left;
    }

nav {
        /* font-variant: small-caps; */
    }

img {
        margin: 15px 0px 15px 0px
    }

/* Portfolio Page */

.youtube-container {
        padding: 15px 15px 15px 15px;
    }

.project-class {
        text-align: center;
        color: white;
        background-color: rgb(7,130,146);
        margin-top: 10;
        margin-bottom: 10;
        height: 40;
    }

.iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
    }

.iframe-container iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }


/* Contact Page */

.form
    {
        margin: 0px 20px 20px 25px;
    }

#contact-copy {
        margin-left: 25px;
        margin-right: 25px;
    }

/* Social Media */

.social-container {
    text-align: center;
    }

.fa {
    position: center;
    padding: 10px;
    margin: 20px 10px 20px 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    lighting-color: 1000;
    }  

.fa-linkedin {
    background: #007bb5;
    color: white;
    }

.fa-youtube {
    background: #bb0000;
    color: white;
    }

.fa-twitter {
        background: white;
        color: #55ACEE;
    }

/* Dead Code */

/* .pwrap 
    { 
        text-align: justify; 
    }  */

/* .left 
    {
        float: left;
        padding: 15px 15px 15px 15px;
    } */

/* indent-me span
    {
        margin-left: 8px;
    } */

/* .imgwrap 
    {
        width: 100px;
        height: auto;
        } */

/* ALIGNING REFERENCE CODE
div.row > div, header  
    {
        outline: 1px solid gray;
        padding: 10px;
    }
    /* nav
    {
        font-size: 20px;
    } */

/* .navbar-position
    {
        position: center;
    } */

/* iframe
    {
        position: center;
        padding: 15px 15px 15px 15px;
    } */

/* #ContactInfo
    {
        padding-left: 00;
    } */
